.gradient_shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, #7011b8 0%, rgba(89, 9, 149, 0) 96.97%);
    min-height: 300px;
    z-index: -1;
}